<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Open Insurance</title>
    <link rel="stylesheet" type="text/css" href="js/leaflet/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div class="app"></div>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<!-- <script src="js/leaflet/leaflet.js"></script> -->
<script src="https://unpkg.com/tangram/dist/tangram.min.js"></script>
<script src="js/LocationIntelligenceSDK-5.0.0-min.js"></script>
<script src="js/bundle.js"></script>
</body>
</html>